.hero {
  text-align: center;
  margin-top: 2rem;
}

.hero > * + * {
  margin-top: 1rem;
}

.hero__img {
  width: var(--size-10xl);
  height: var(--size-10xl);
  object-fit: contain;
  margin-inline: auto;
}

.hero__title {
  font-size: var(--size-3xl);
  font-weight: 900;
  line-height: 1;
}

.hero__description1 {
  font-family: var(--font-secondary);
  font-size: var(--size-sm);
  color: var(--color-muted);
}

.hero__description2 {
  font-size: var(--size-sm);
  color: var(--color-muted);
}

.hero__btn {
  font-size: var(--size-sm);
}

.hero__br {
  display: none;
}

/* xs */
@media (min-width: 475px) {
  .hero__img {
    width: 15.5rem;
  }

  .hero__title {
    font-size: var(--size-4xl);
  }

  .hero__description1,
  .hero__description2 {
    font-size: var(--size-base);
  }

  .hero__btn {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__br {
    display: block;
  }

  .hero__description1 {
    max-width: 65ch;
    margin-inline: auto;
    letter-spacing: -0.05em;
  }

  .hero__description2 {
    max-width: 67ch;
    margin-inline: auto;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    width: 21.25rem;
    height: 21.25rem;
  }

  .hero__title {
    font-size: var(--size-5xl);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero__title {
    font-size: var(--size-6xl);
  }

  .hero__description1,
  .hero__description2,
  .hero__btn {
    font-size: var(--size-lg);
  }

  .hero > * + * {
    margin-top: 1.5rem;
  }
}
