.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  z-index: 9;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mobile-nav__logo {
  width: var(--size-7xl);
  margin-bottom: 2rem;
}

.mobile-nav__social-container {
  display: flex;
  gap: 2rem;
}

.mobile-nav__social {
  font-size: var(--size-5xl);
  color: var(--color-slate50);
  line-height: 0;
  text-decoration: none;
}

.mobile-nav__separator {
  border: 1px solid var(--color-slate800);
  margin-top: 1rem;
  padding-right: 1.5rem;
}

.mobile-nav__sign-in-btn {
  font-family: var(--font-secondary);
  font-size: var(--size-lg);
  color: var(--color-text);
  text-decoration: none;
  font-weight: 700;
  margin: 1.5rem 0;
}

.mobile-nav__enter-app-btn {
  font-size: var(--size-lg);
}

.mobile-nav__enter-app-btn__arrow {
  display: inline;
  vertical-align: middle;
  margin-left: 0.25rem;
  width: 1em;
}

.mobile-nav__close-btn {
  position: absolute;
  top: 1.875rem;
  right: .9375rem;
  font-family: var(--font-secondary);
  color: var(--color-text);
  font-size: var(--size-base);
  text-transform: uppercase;
}
