/* if Mobile first */

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-slate50);
  color: var(--color-dark);
  padding: 0.5em 1em;
  font-weight: 500;
  border-radius: 6px;
  line-height: 1.75rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn:hover {
  background: var(--color-slate100);
}

.btn:focus-visible {
  outline: solid var(--color-text);
}

.section {
  margin-top: 5rem;
}

.title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: var(--font-secondary);
  color: var(--color-text);
  font-size: var(--size-xs);
}

/* if Mobile first */

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .title {
    font-size: var(--size-small);
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }

  .section {
    margin-top: 10rem;
  }

  .title {
    font-size: var(--size-base);
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* if Desktop first */

.container {
  max-width: 1536px;
  margin-inline: auto;
  padding-inline: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 648px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
